.contact-global h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-control:focus {
  color: #495057;
  background-color: #fff ;
  border-color: #008080 !important;
  outline: 0;
  box-shadow: 0 10px 40px 0 rgba(47, 47, 47, 0.12) !important;
}
.contact-form input {
  padding: 10px;
  margin-bottom: 30px;
}
.contact-form button {
  //   background: #008088 none repeat scroll 0 0 !important;
  border: 0 none;
  //   border-radius: 50px;
  color: #212529;
  font-size: 14px;
  letter-spacing: 2px;
  padding: 13px 20px;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 900;
}

.contact-form textarea {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1200px) {
  .contact-global {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
