$white-color: #fff;
$black-color: #434343;
$teal-color: #008080;
.manage-accordion-global {
  background-color: $black-color;
  padding: 60px 16px 60px 16px !important;
  margin-top: 100px;
}
.accordion-header,
.XL-accordion-header {
  margin-bottom: 40px;
  color: $white-color;
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  margin-left: 1rem;
}
.accordion-custom-padding-0 {
  padding: 0 !important;
}
.custom-accordion-bootstrap {
  margin-top: 40px !important;
}
.accordion-image-section-container {
  margin: 0.5rem;
}

.accordion-image-section {
  width: 100%;
  height: auto;
  max-width: 712px;
  box-sizing: border-box;
  //   padding: 24px 11px 11px;
  border-radius: 11px;
  background-repeat: no-repeat;
  background-position: 16px 9px;
  //   box-shadow: 0 5px 80px 0 rgba(0, 0, 0, 0.1);
//   border: 20px solid $white-color;

  img {
    height: 420px;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}

.svg-icon {
  margin-right: 1rem;
  width: 16px;
}

.acc-flex {
  display: flex;
  flex-direction: row;
}
.XL-accordion-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .accordion-image-section-container {
    // margin: 66px 0px 0px;
    padding: 36px 20px 20px;
  }
  .accordion-header,
  .XL-accordion-header {
    font-size: 28px;
  }
  .accordion-image-section {
    margin: 0 auto;
  }
  .custom-accordion-bootstrap {
    height: 30vw;
  }
}

@media screen and (min-width: 1301px) {
  .XL-accordion-header {
    display: block;
    margin-left: 10.5rem;
  }
  .accordion-header {
    display: none;
  }
  // .accordion-custom-padding-0 {
  //   padding-left: 2rem;
  // }

  .accordion-image-section-container {
    padding: 0px 0px 0px;
  }
  .custom-accordion-bootstrap {
    margin-left: 10rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .custom-accordion-bootstrap {
    margin-left: 6rem;
  }
  .XL-accordion-header {
    display: block;
    margin-left: 6.5rem;
  }
  .accordion-header {
    display: none;
  }
}
