$white-color: #fff;
$black-color: #434343;
$teal-color: #008080;

.work-global-container {
  margin-top: 100px;
}

.work-main-heading {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}
.work-global-container {
  //   margin-top: 40px !important;
}
.work-sub-heading-description {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.work-each-column {
  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
  }
  p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 12rem;
    margin-top: 1rem;
  }
}
