$white-color: #fff;
$black-color: #434343;
$teal-color: #008080;

.banner-global {
  background-color: #7fcec5;
  background-image: linear-gradient(315deg, #7fcec5 0%, #008088 74%);
  // background-color: #05e8ba;
  // background-image: linear-gradient(315deg, #05e8ba 0%, #087ee1 74%);

  padding: 20px 0 40px;
  h1 {
    font-size: 32px;
    font-weight: 900;
  }
  p {
    line-height: 1.6;
  }
  h1,
  p {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    color: $white-color;
  }
}

.banner-button-container {
  margin-bottom: 3rem;
  text-align: left;
}
.banner-custom-btn {
  margin-top: 20px;
  color: #008088 !important;
  font-weight: 800 !important;

  margin-right: 20px;
  border: 1px solid $teal-color !important;
  // position: absolute;
  // left: 1rem;
  // bottom: -3.5rem;
}
.banner-custom-btn:focus {
  color: $black-color !important;
  background-color: #fff;
  border-color: #008080 !important;
  outline: 0;
  box-shadow: 0 10px 40px 0 rgba(47, 47, 47, 0.12) !important;
}
// MEDIA_QUERY

@media screen and (min-width: 769px) {
  .banner-global {
    background-color: #fff;
    background-image: none;
    padding: 20px 0 40px;
    margin-top: 2rem;
    height: auto;
    h1 {
      font-size: 42px;
      font-weight: 900;
      color: $black-color;
    }
    p {
      font-size: 18px;
      color: $black-color;
    }
  }
  .banner-image-container {
    background-image: url("./images/Catalogue-pana.svg");
    background-size: initial;
    height: auto;
    background-repeat: no-repeat;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .banner-global {
    margin-top: 10rem;
  }
}
